In [2]:
#variables in python

first_name= "zafar"
last_name= "ali"
country="unisted states"
city="atd"
age= 21
skills=["python", "css", "data scientist"]
person_info={
    
    
    "firstname": first_name,
    "lastname": last_name,
    "country": country,
    "city": city,
    "age": age,
}
print("first_name",len(first_name))
print("last_name", last_name)
print("country", country)
print("city", city)
print("age", age)
print("skills", skills)
print("person_info", person_info)

first_name 5
last_name ali
country unisted states
city atd
age 21
skills ['python', 'css', 'data scientist']
person_info {'firstname': 'zafar', 'lastname': 'ali', 'country': 'unisted states', 'city': 'atd', 'age': 21}

#acccessing chracter in python
x="python is my fashion"
print(x[2])
print(x[3])

In [3]:
#acccessing chracter in python
x="python is my fashion"
print(x[2])
print(x[3])

t
h

slicing in string

In [4]:
x="python is my fashion"
print(x[2:3])

t

In [6]:
concatenation in string
x = "python is "
y = "my fashion"
strings_to_join = [x, y]
combined_string = " ".join(strings_to_join)
print(combined_string)

python is  my fashion

In [10]:
#strip

x = "   python is my fashion   "
print(x.strip())
print(x.strip())

python is my fashion
python is my fashion

In [15]:
x = "python is my fashion"
replace = x.replace("python", "java")
print(replace)  # Output: "java is my fashion"

java is my fashion

In [16]:
x= "python is my fashion"
print(x.replace("python", "java")) # Output: "java is my fashion

java is my fashion

In [17]:
x= "python is my fashion"
split_string= x.split("python is my fashion")
print(split_string) # Output: ['', ' my fashion']

['', '']

In [20]:
#string formating

name = "zafarali"
age = 21
city = "abottabad"
print("my name is {name}. my age is {age} and i am live in {city}".format(name=name, age=age, city=city))

my name is zafarali. my age is 21 and i am live in abottabad

In [25]:
#string formating
number= 124575.4538
formatted_string="f{number:2f}"
print(formatted_string)

f{number:2f}

In [24]:
number = 1234.56789
formatted_string = f"{number:.2f}"  # Two decimal places
print(formatted_string)  # Output: "1234.57"

formatted_string = f"{number:,.2f}"  # Thousand separator and two decimal places
print(formatted_string)  # Output: "1,234.57"

1234.57
1,234.57