<a href="https://colab.research.google.com/github/zafar-ali11/30-Days-Of-Python/blob/master/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "zafar Ali"
age = 22
country = "Pakistan"
profession = "bioinformatians"
print("name:", name, "age:", age, "country:", country, "profession:", profession)

name: zafar Ali age: 22 country: Pakistan profession: bioinformatians

v**ariable program practice**

In [ ]:
name = "zafar Ali"
age = 22
country = "Pakistan"
profession = "bioinformatians"
print("name:", name, "age:", age, "country:", country, "profession:", profession)

name: zafar Ali age: 22 country: Pakistan profession: bioinformatians

# **Data Type**

In [ ]:
first_name = "zafar"
last_name = "ali"
age = 22
country = "pakisatan"
city = "abottabad"
# Printing out types
print(type('zafar'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'zafar ali','age':22, 'is_married':22}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>


# operators
artematic operatoes

In [1]:
# Example: comparing gene expression values
geneA_expr = 12.5
geneB_expr = 8.3

# Arithmetic operations
total_expr = geneA_expr + geneB_expr      # total expression of both genes
diff_expr = geneA_expr - geneB_expr       # difference in expression (fold change idea)
product_expr = geneA_expr * geneB_expr    # combined effect (e.g., interaction score)
ratio_expr = geneA_expr / geneB_expr      # ratio between expressions
power_expr = geneA_expr ** 2              # square of expression (for normalization idea)
mod_expr = int(geneA_expr) % int(geneB_expr)  # remainder (less common in biology)
print("Total:", total_expr)
print("Difference:", diff_expr)
print("Product:", product_expr)
print("Ratio:", ratio_expr)
print("Squared GeneA:", power_expr)
print("Remainder:", mod_expr)

Total: 20.8
Difference: 4.199999999999999
Product: 103.75000000000001
Ratio: 1.506024096385542
Squared GeneA: 156.25
Remainder: 4

Relational Operators

In [3]:
geneA_expr = 2.33
geneB_expr = 4.55
print(geneA_expr > geneB_expr)
print(geneA_expr < geneB_expr)
print(geneA_expr >= geneB_expr)
print(geneA_expr <= geneB_expr)

False
True
False
True

# Assignment Operator

In [4]:
mutation_count = 10
mutation_count /= 2
mutation_count **= 4
mutation_count += 3
mutation_count -= 1
print(mutation_count)

627.0